body {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    display: flex;
    justify-content: center;
}

.btn {
    background: linear-gradient(to right, #3494e6, #ec6ead);
    color: white;
}

.row {
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.iniciar {
    text-align: center;
}

.container h1 {
    text-align: center;
    margin: 20px;
    color: white;
    text-decoration:overline;
    text-shadow: 2px 2px black;
}